* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 14px;
}

form input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
}

/* Top */

.title {
  margin: 0;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: rgba(42, 42, 53, 0.926);
}

.intro {
  margin: 0 auto;
  width: 90%;
  padding: 0;
  text-align: center;
}

.intro h2 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 13px;
  font-weight: 200;
  color: grey;
  margin-top: 0;
  margin-bottom: 30px;
}

.line-break hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3px;
}

.line-break-1 {
  border: none;
  height: 3px;
  background-color: black;
}

.line-break-2 {
  border: none;
  height: 1.25px;
  background-color: black;
}

/* Form  */
/* Contact Form */
form {
  margin: 25px auto 200px;
  padding: 0;
  width: 90%;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  margin: 15px auto;
  outline: 22px;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

fieldset {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
  font-weight: 700;
  margin: 20px 0;
  font-size: 18px;
}

label {
  color: grey;
  font-weight: 200;
}

::placeholder {
  text-align: right;
  font-size: 12px;
  font-weight: 200;
  color: rgb(165, 164, 164);
  font-style: italic;
}

select {
  font-size: 12px;
  font-family: inherit;
}

#zipcode {
  max-width: 50%;
}

.midway-line {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 15px;
}

/* Newsletter Form */

.newsletter-label {
  display: block;
  margin-bottom: 8px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #23b89d;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-family: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 10px;
}

.copyright {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: grey;
}

@media (min-width: 768px) {
  /* Title */
  .container {
    margin: auto;
    width: 550px;
    font-size: 12px;
  }

  .title {
    font-size: 12px;
  }

  .intro {
    margin-top: 40px;
  }

  .intro p {
    font-size: 10px;
  }

  /* Form */
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex label {
    margin-left: 0;
    flex-basis: 25%;
  }

  .flex input,
  select {
    margin: 8px 0;
    flex-basis: 75%;
  }

  select {
    font-size: 12px;
    font-family: inherit;
  }

  #zipcode {
    max-width: 25%;
  }

  .news-flex {
    display: flex;
    align-items: center;
  }
}
